body{
    background-color: #E5E5E5;
}
.profile{
    display: flex;
}
.profile-img{
    width: 4.5rem;
}
.profile-name{
    font-weight: 800;
}
.profile-R{
    text-align: left;
    margin-left: 1rem;
}
.profile-R-down{
    text-align: left;
    font-size: 0.6rem;
}

.user-menu{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.user-menu-menu{
    margin-left: 1rem;
    font-weight: 500;
}
.logout-buttom{
    margin-top: 1rem;
    color: white;
    background-color: #F29559;
    border-radius: 0 !important;
}
.logout-buttom:hover{
    color: #F29559;
    background-color: white;
    border: solid #F29559;
}